*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-bg: rgb(255, 255, 255);
  --secondary-bg: rgb(236, 244, 255);
  --primary: rgb(45, 109, 228);
  --on-primary: rgb(255, 255, 255);
  --primary-active: rgb(30, 92, 207);
}

body {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 800px;
  margin: auto;
  padding: 0.75rem;
  padding-top: 0;
}

button {
  margin: 0;
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  border-width: 0;
  background-color: var(--primary);
  color: var(--on-primary);
}

button:active {
  background-color: var(--primary-active);
}

hr {
  margin: 0;
}

.panel {
  margin: 0;
  padding: 0.5rem;
  background-color: var(--secondary-bg);
  border-radius: 0.5rem;
}
